apiVersion: v1
kind: Service
metadata:
  labels:
    app: magnify
    service: nginx
    version: "{{ magnify_nginx_image_tag }}"
    deployment_stamp: "{{ deployment_stamp }}"
  name: "magnify-nginx-{{ deployment_stamp }}"
  namespace: "{{ namespace_name }}"
spec:
  ports:
    - name: {{ magnify_nginx_port }}-tcp
      port: {{ magnify_nginx_port }}
      protocol: TCP
      targetPort: {{ magnify_nginx_port }}
    - name: "{{ magnify_nginx_healthcheck_port }}-tcp"
      port: {{ magnify_nginx_healthcheck_port }}
      protocol: TCP
      targetPort: {{ magnify_nginx_healthcheck_port }}
  selector:
    app: magnify
    deployment: "magnify-nginx-{{ deployment_stamp }}"
  type: ClusterIP
