# Python
__pycache__
*.pyc
**/__pycache__
**/*.pyc
venv
.venv

# System-specific files
.DS_Store
**/.DS_Store

# Docker
docker-compose.*
env.d

# Docs
docs
*.md
*.log

# Development/test cache & configurations
.cache
.circleci
.git
.vscode

# Assets
data
sandbox/build
sandbox/static/css
src/magnify/static/magnify/css
!src/magnify/static/magnify/css/ckeditor.css
src/magnify/static/magnify/js

# Font-end
**/node_modules
