# Python
__pycache__
*.pyc
**/__pycache__
**/*.pyc
venv
.venv

# System-specific files
.DS_Store
**/.DS_Store

# Docker
docker-compose.*
env.d

# Docs
docs
*.md
*.log

# Development/test cache & configurations
data
.cache
.circleci
.git
.vscode
db.sqlite3
.mypy_cache

# Javascript
**/node_modules
