apiVersion: v1
kind: Secret
metadata:
  labels:
    app: magnify
    service: postgresql
  name: "{{ magnify_database_secret_name }}"
  namespace: "{{ namespace_name }}"
data:
  POSTGRESQL_USER: "{{ MAGNIFY_VAULT.POSTGRESQL_USER | default('magnify_user') | b64encode }}"
  POSTGRESQL_PASSWORD: "{{ MAGNIFY_VAULT.POSTGRESQL_PASSWORD | default('pass') | b64encode }}"
