:root {
	--c--theme--colors--primary-text: #FFFFFF;
	--c--theme--colors--primary-100: #EBF2FC;
	--c--theme--colors--primary-200: #8CB5EA;
	--c--theme--colors--primary-300: #5894E1;
	--c--theme--colors--primary-400: #114390;
	--c--theme--colors--primary-500: #114390;
	--c--theme--colors--primary-600: #0556BF;
	--c--theme--colors--primary-700: #044395;
	--c--theme--colors--primary-800: #033474;
	--c--theme--colors--primary-900: #022858;
	--c--theme--colors--secondary-text: #555F6B;
	--c--theme--colors--secondary-100: #F2F7FC;
	--c--theme--colors--secondary-200: #EBF3FA;
	--c--theme--colors--secondary-300: #E2EEF8;
	--c--theme--colors--secondary-400: #DDEAF7;
	--c--theme--colors--secondary-500: #D4E5F5;
	--c--theme--colors--secondary-600: #C1D0DF;
	--c--theme--colors--secondary-700: #97A3AE;
	--c--theme--colors--secondary-800: #757E87;
	--c--theme--colors--secondary-900: #596067;
	--c--theme--colors--greyscale-000: #FFFFFF;
	--c--theme--colors--greyscale-100: #FAFAFB;
	--c--theme--colors--greyscale-200: #F3F4F4;
	--c--theme--colors--greyscale-300: #E7E8EA;
	--c--theme--colors--greyscale-400: #C2C6CA;
	--c--theme--colors--greyscale-500: #9EA3AA;
	--c--theme--colors--greyscale-600: #79818A;
	--c--theme--colors--greyscale-700: #555F6B;
	--c--theme--colors--greyscale-800: #303C4B;
	--c--theme--colors--greyscale-900: #0C1A2B;
	--c--theme--colors--success-text: #FFFFFF;
	--c--theme--colors--success-100: #EFFCD3;
	--c--theme--colors--success-200: #DBFAA9;
	--c--theme--colors--success-300: #BEF27C;
	--c--theme--colors--success-400: #A0E659;
	--c--theme--colors--success-500: #76D628;
	--c--theme--colors--success-600: #5AB81D;
	--c--theme--colors--success-700: #419A14;
	--c--theme--colors--success-800: #2C7C0C;
	--c--theme--colors--success-900: #1D6607;
	--c--theme--colors--info-text: #FFFFFF;
	--c--theme--colors--info-100: #EBF2FC;
	--c--theme--colors--info-200: #8CB5EA;
	--c--theme--colors--info-300: #5894E1;
	--c--theme--colors--info-400: #377FDB;
	--c--theme--colors--info-500: #055FD2;
	--c--theme--colors--info-600: #0556BF;
	--c--theme--colors--info-700: #044395;
	--c--theme--colors--info-800: #033474;
	--c--theme--colors--info-900: #022858;
	--c--theme--colors--warning-text: #FFFFFF;
	--c--theme--colors--warning-100: #FFF8CD;
	--c--theme--colors--warning-200: #FFEF9B;
	--c--theme--colors--warning-300: #FFE469;
	--c--theme--colors--warning-400: #FFDA43;
	--c--theme--colors--warning-500: #FFC805;
	--c--theme--colors--warning-600: #DBA603;
	--c--theme--colors--warning-700: #B78702;
	--c--theme--colors--warning-800: #936901;
	--c--theme--colors--warning-900: #7A5400;
	--c--theme--colors--danger-text: #FFFFFF;
	--c--theme--colors--danger-100: #F4B0B0;
	--c--theme--colors--danger-200: #EE8A8A;
	--c--theme--colors--danger-300: #E65454;
	--c--theme--colors--danger-400: #E13333;
	--c--theme--colors--danger-500: #DA0000;
	--c--theme--colors--danger-600: #C60000;
	--c--theme--colors--danger-700: #9B0000;
	--c--theme--colors--danger-800: #780000;
	--c--theme--colors--danger-900: #5C0000;
	--c--theme--font--sizes--h1: 1.75rem;
	--c--theme--font--sizes--h2: 1.375rem;
	--c--theme--font--sizes--h3: 1.125rem;
	--c--theme--font--sizes--h4: 0.8125rem;
	--c--theme--font--sizes--h5: 0.625rem;
	--c--theme--font--sizes--h6: 0.5rem;
	--c--theme--font--sizes--l: 1rem;
	--c--theme--font--sizes--m: 0.8125rem;
	--c--theme--font--sizes--s: 0.6875rem;
	--c--theme--font--weights--thin: 100;
	--c--theme--font--weights--regular: 300;
	--c--theme--font--weights--medium: 400;
	--c--theme--font--weights--bold: 500;
	--c--theme--font--weights--extrabold: 700;
	--c--theme--font--weights--black: 900;
	--c--theme--font--families--base: "Roboto Flex Variable", sans-serif;
	--c--theme--font--families--accent: "Roboto Flex Variable", sans-serif;
	--c--theme--spacings--xl: 4rem;
	--c--theme--spacings--l: 3rem;
	--c--theme--spacings--b: 1.625rem;
	--c--theme--spacings--s: 1rem;
	--c--theme--spacings--t: 0.5rem;
	--c--theme--spacings--st: 0.25rem;
	--c--theme--transitions--ease-in: cubic-bezier(0.32, 0, 0.67, 0);
	--c--theme--transitions--ease-out: cubic-bezier(0.33, 1, 0.68, 1);
	--c--theme--transitions--ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
	--c--theme--transitions--duration: 250ms;
}
