.Placeholder{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Instructions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

